# Dependency Directories
node_modules/
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
frontend/dist

# Editor Directories
.vscode/
.idea/
*.swp
*.swo

# OS Metadata
.DS_Store
Thumbs.db
